<div class="container">
  <h4 class="text-center mt-5">Veuillez entrer les prix des achats!</h4>
  <div class="row">
    <div class="col-md-8">
      <input type="number" class="form-control" id="price" placeholder="10.5 Euros" [(ngModel)]="price"
      (keyup.enter)="addPrice()">
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary" (click)="addPrice()">Ajouter</button>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12">
      <ul>
        <li *ngFor="let item of listPrice">
          {{item}}
        </li>
      </ul>
    </div>

  </div>
  <div class="row">
    <div class="col-md-12 d-flex ">
      <h5 class="me-4"> Total : </h5>
      <span> <b> {{total}}</b></span>
    </div>

  </div>

  <div class="row mt-4" >
    <div class="col-md-2">
      <label for="sommePayee">Somme Payée:</label>
    </div>
    <div class="col-md-6">
      <input type="number" class="form-control" id="sommePayee" [(ngModel)]="sommePayee" id="sommePayee"
      (keyup.enter)="calculerMonnaieArendre()" />
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary" (click)="calculerMonnaieArendre()">Calculer Monnaie</button>
    </div>



  </div>

  <div class="row mt-4">
    <div class="col-md-12">
      <h4>Monnaie à rendre:</h4>
      <ul>
        <li *ngFor="let item of monnaie">
          {{item}}
        </li>
      </ul>
    </div>

  </div>

</div>
